<html>
    <head>
        <title>signup</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div class="header">
            <h2 class="logo">Pyfloraposuda</h2>
        </div>
        <div class="login-form-box">
            <h1>Sign  up</h1>
            <form class="login-form" method="post" action="{{url_for('UserView:signup')}}">
                <input class="inputField" name="username" type="text" placeholder="Enter username"/>
                <input class="inputField" name="password" type="password" placeholder="Enter password"/>
                <button class="inputButton" name="">Sign up</button>
                <p>Already have an account <a href="{{url_for('UserView:login')}}">Sign up</a></p>
            </form>
        </div>
    </body>
    </body>
</html>